{{#if success}}
	<p class="success">{{success.msg}}</p>
{{/if}}

<a href="/admin/new-post">Create new post</a>

<table>
	<thead>
		<tr>
			<th>Title</th>
			<th>Published date</th>
			<th>Delete</th>
		</tr>
	</thead>
	<tbody>
		{{#each posts}}
			<tr>
			<td><a href="/admin/new-post/{{_id}}">{{title}}</a></td>
			<td>{{publish_date}}</td>
			<td><a href="/admin/delete-post/{{_id}}">Delete</a></td>
			</tr>
		{{/each}}
	</tbody>
</table>

